.main{
    background: linear-gradient(to bottom, #70dce0, #67dcad);
    width:100%;
}

.main-content{
    display: flex;
}

.btn{
    margin:15px;
    font-size: 20px;
    background-color: #10384c;
    color:#70dce0;
}

.btn:hover{
    background-color: white;
    color: #10384c;
}